POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=de_portfolio
POSTGRES_USER=de_user
POSTGRES_PASSWORD=de_password

AIRFLOW__CORE__FERNET_KEY=
AIRFLOW_UID=50000

JSONPLACEHOLDER_BASE_URL=https://jsonplaceholder.typicode.com
